* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

/* site header css */
#site_header {
  /* navbar css */
  /* Jumbotron css */
}
#site_header .top_header {
  background-color: #0482f9;
}
#site_header .top_header .container {
  display: flex;
  justify-content: flex-end;
}
#site_header .top_header .container div {
  margin-left: 80px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: white;
  font-weight: 500;
  padding: 0.5rem 0;
}
#site_header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#site_header .menu .logo img {
  width: 80px;
}
#site_header .menu .links {
  display: flex;
  justify-content: flex-end;
}
#site_header .menu .links a {
  display: inline-block;
  text-decoration: none;
  color: #464646;
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: 0.85rem;
  padding: 3rem 0;
}
#site_header .menu .links .active {
  color: #0482f9;
  border-bottom: 4px solid #0482f9;
}
#site_header .menu .links .input_group {
  margin-left: 4rem;
  display: flex;
  align-items: center;
}
#site_header .menu .links .input_group input {
  width: 100px;
  border: none;
  text-align: right;
  font-size: 0.9rem;
  padding-right: 0.2rem;
  border-bottom: 2px solid #0482f9;
  padding-bottom: 0.3rem;
}
#site_header .menu .links .input_group i {
  color: #464646;
  border-bottom: 2px solid #0482f9;
  padding-bottom: 0.3rem;
}
#site_header .jumbotron {
  height: 400px;
  background-image: url(../img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Site main css */
#site_main .comics_main {
  background-color: #1d1d1d;
}
#site_main .comics_main .container {
  position: relative;
}
#site_main .comics_main .container .label {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  display: inline-block;
  background-color: #0482f9;
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  position: absolute;
  top: -25px;
  left: 0;
}
#site_main .comics_main .container .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}
#site_main .comics_main .container .cards .card {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: calc(100% / 6 - 1.6rem);
  height: 175px;
  margin: 2.5rem 0.8rem;
}
#site_main .comics_main .container .cards .card a {
  color: white;
  text-decoration: none;
}
#site_main .comics_main .container .cards .card a .cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 0.8rem;
}
#site_main .comics_main .container .btn {
  text-align: center;
}
#site_main .comics_main .container .btn .btn_solid {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #0482f9;
  padding: 0.5rem 3rem;
  font-weight: 600;
  display: inline-block;
  margin: 2.5rem 0 1rem;
}
#site_main .comics_main .container .btn .btn_solid:hover {
  cursor: pointer;
}
#site_main .comics_main .main_bottom {
  background-color: #0482f9;
  padding: 3rem 0;
}
#site_main .comics_main .main_bottom .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#site_main .comics_main .main_bottom .container .card {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 200;
}
#site_main .comics_main .main_bottom .container .card img {
  height: 50px;
  margin-right: 0.5rem;
}
#site_main .comics_main .main_bottom .container div:last-child img {
  height: 30px;
}

/* comic main css */
.comic_main .banner {
  height: 70px;
  background-color: #0482f9;
}
.comic_main .banner .container {
  position: relative;
}
.comic_main .banner .container .poster {
  position: absolute;
  top: -240px;
  border: 1px solid white;
}
.comic_main .banner .container .poster .book {
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  background-color: #00a9d9;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
.comic_main .banner .container .poster .gallery {
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  background-color: #00a9d9;
  padding: 0.2rem 0.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}
.comic_main .container {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}
.comic_main .container .info {
  width: calc(100% / 2);
}
.comic_main .container .info h2 {
  text-transform: uppercase;
  color: #003f5e;
  margin-bottom: 1rem;
}
.comic_main .container .info .price_table {
  width: 100%;
  background-color: #55ba59;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.comic_main .container .info .price_table .price {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.comic_main .container .info .desc {
  font-size: 0.85rem;
  line-height: 1.2rem;
  color: #555555;
}
.comic_main .container .adv {
  padding-left: 2.5rem;
}

/* Comic bottom section css */
.bottom_section .container {
  display: flex;
}
.bottom_section .container .col_right {
  width: calc(100% / 2);
  padding-right: 1rem;
}
.bottom_section .container .col_left {
  width: calc(100% / 2);
  padding-left: 1rem;
}
.bottom_section .container .info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.8rem 0;
}
.bottom_section .container .info .info_title {
  width: 30%;
  font-size: 0.9rem;
}
.bottom_section .container .info .info_section {
  width: 70%;
}

/* Site footer css */
#site_footer .footer_top {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#site_footer .footer_top .container {
  background-image: url(../img/dc-logo-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 55%;
  padding: 2rem 0;
}
#site_footer .footer_top .container .links {
  height: 380px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
}
#site_footer .footer_top .container .links .list {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}
#site_footer .footer_top .container .links .list h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 1.5rem 0;
}
#site_footer .footer_top .container .copyright {
  color: #959595;
  font-size: 0.8rem;
}
#site_footer .footer_top .container .copyright a {
  color: #0482f9;
}
#site_footer a {
  color: #959595;
  text-decoration: none;
  font-weight: 200;
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
#site_footer a:hover {
  color: #0482f9;
}

/* footer bottom csss */
.footer_bottom {
  background-color: #303030;
  padding: 2.5rem 0;
}
.footer_bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom .container .btn {
  color: white;
  text-transform: uppercase;
}
.footer_bottom .container .btn .btn_outline {
  border: 2px solid #0482f9;
  padding: 1rem 1.2rem;
  display: inline-block;
}
.footer_bottom .container .btn .btn_outline:hover {
  cursor: pointer;
  background-color: #0482f9;
}
.footer_bottom .container .social {
  display: flex;
  align-items: center;
}
.footer_bottom .container .social span {
  text-transform: uppercase;
  color: #0482f9;
  display: inline-block;
}
.footer_bottom .container .social img {
  margin-left: 1.2rem;
}
.footer_bottom .container .social img:hover {
  cursor: pointer;
}
