/* Comic bottom section css */

.bottom_section {
    .container {
        display: flex;

        .col_right {
            width: calc(100% / 2);

            .talent {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                font-size: 0.8rem;
                width: 100%;
                padding: 0.8rem 0;

                .talent_title {
                    width: 30%;
                    font-size: 0.9rem;
                }
                .talent_section {
                    width: 70%;
                }
            }
        }
    }
}
