/* Comic bottom section css */

.bottom_section {
    background-color: #f6f6f6;
    border-top: 1px solid #e3e3e3;
    padding-top: 2rem;
    a {
        text-decoration: none;
        color: $brand_color;
    }

    .container {
        display: flex;

        .col_right {
            width: calc(100% / 2);
            padding-left: 2rem;
            color: $dc_text_gray;
            a {
                text-transform: uppercase;
            }
        }
        .col_left {
            width: calc(100% / 2);
            padding-right: 2rem;
        }

        h3 {
            color: $dc_dark_blue;
            padding-bottom: 2rem;
            border-bottom: 1px solid #e3e3e3;
        }
        .info {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 0.8rem;
            width: 100%;
            padding: 0.8rem 0;
            border-bottom: 1px solid #e3e3e3;

            .info_title {
                width: 40%;
                font-size: 0.9rem;
                color: $dc_dark_blue;
            }
            .info_section {
                width: 60%;
            }
        }
    }
}
